{% extends "layout.html" %}
{% block content %}
   <div class="jane">
     <h1>jane</h1>
     <p>
				 Jane Street is a proprietary tech trading firm.
		 </p>
		 <h2>
			 Questions
			</h2>
			 <ul>
				 <li>
					 Flip 98 fair coins and 1 HH coin and 1 TT coin. Given that you see an H, what is the probability that it was the HH coin?
					 Explain in layman's terms.
				 </li>
				 <li>
					 You roll a 100-sided die. You can choose to accept the value of this roll for $x, where x is the value showing. You can choose to re-roll the die for $1. What is the strategy you employ and what is the fair value of the game?
				</li>
				<li>
					Roll a 30-sided die. Add up each consecutive outcome. Stop rolling when the sum >= 300. What's the most likely result of the sum?


				</li>
			 </ul>
   </div>
 {% endblock %}
